* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: #f4f5f7;

    zoom: 0.70;
}


.forgot-page {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
}


.forgot-card {
    width: 100%;
    max-width: 650px;

    background: #ffffff;

    padding: 60px 70px;

    border-radius: 30px;

    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.10);
}


.forgot-header {
    margin-bottom: 45px;
}


.forgot-header h1 {
    font-size: 52px;

    color: #254f45;

    margin-bottom: 15px;
}


.forgot-header p {
    font-size: 22px;

    line-height: 1.5;

    color: #5f6870;
}


.input-group {
    margin-bottom: 30px;
}


.input-group label {
    display: block;

    font-size: 20px;

    font-weight: bold;

    color: #30434a;

    margin-bottom: 12px;
}


.input-group input {
    width: 100%;

    height: 70px;

    padding: 0 22px;

    font-size: 20px;

    border: 1px solid #cfd5d8;

    border-radius: 18px;

    outline: none;

    transition: 0.3s;
}


.input-group input:focus {
    border-color: #245c4f;

    box-shadow:
        0 0 0 3px rgba(36, 92, 79, 0.10);
}


.reset-btn {
    width: 100%;

    height: 70px;

    border: none;

    border-radius: 18px;

    background: #245c4f;

    color: white;

    font-size: 22px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}


.reset-btn:hover {
    background: #1d4a40;
}


.back-login {
    margin-top: 30px;

    text-align: center;

    font-size: 18px;

    color: #5f6870;
}


.back-login a {
    margin-left: 8px;

    text-decoration: none;

    color: #245c4f;

    font-weight: bold;
}


.back-login a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 600px) {

    .forgot-card {
        padding: 40px 25px;
    }


    .forgot-header h1 {
        font-size: 40px;
    }


    .forgot-header p {
        font-size: 18px;
    }

}

.enter-btn {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 8px;

    background: #155c49;
    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    margin-top: 10px;
}

.enter-btn:hover {
    background: #0e4738;
}

.error-message {
    color: red;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}